th, td {
    padding: 10px;
    border: 1px solid;
    text-align: center;
    border-collapse: collapse
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.container
{
    margin-top: 5em;
}

table th:nth-child(3), td:nth-child(3) {
    display: none;
  }

