<navigation-bar></navigation-bar>



<div class="container">


    <div class="image" *ngIf="!visible" style="text-align:center;margin-top:10em;">
        <img src="assets/images/nodata.png" alt="NO DATA FOUND">

    </div>

    <div *ngIf="visible || error">
        <h1 style="text-align:center">Add User
            <span>
                <input type="image" src="assets/images/add.png" (click)="Adduser()" data-toggle="modal" data-target="#addDevice" alt="ADD"
                    height="50">
                <input type="search" class="form-control col-md-2" #search (keyup)="0" placeholder="Search" name="search">
            </span>

        </h1>
        <br>
        <table class="table table-hover" id="add_user">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Mobile</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let det of (details | searchFilter: search.value ) | paginate:{itemsPerPage: 5, currentPage:page, id: '1'};let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{det.cus_id}}</td>
                    <td>{{det.cus_name}}</td>
                    <td>{{det.cus_mobile}}</td>
                    <td>
                        <input type="image" src="assets/images/edit.png" data-toggle="modal" data-target="#myModal" (click)="edit(det)" alt="EDIT"
                            height="40">
                        <input type="image" src="assets/images/remove.png" data-toggle="modal" data-target="#myModal" (click)="Onclick_remove(det)"
                            alt="EDIT" height="40">
                    </td>
                    <div class="modal fade" id="myModal" role="dialog" *ngIf="!remove_status">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Data</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <label for="cus_id">Customer Id</label>
                                        <div class="customer_id form-group">
                                            <input type="text" id="cus_id" class="form-control" [(ngModel)]="edit_details.customer_id" name="customer_id" [disabled]="true">
                                        </div>
                                        <label for="cus_name">Customer Name</label>
                                        <div class="customer form-group">
                                            <input type="text" id="cus-name" class="form-control" [(ngModel)]="edit_details.customer_name" name="customer_name" required>
                                        </div>

                                        <label for="mobile_num">Mobile Number</label>
                                        <div class="mobile form-group">
                                            <input type="number" id="mob_num" [(ngModel)]="edit_details.mobile_number" class="form-control" name="mobile_number" required>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" (click)="save(edit_details)" data-dismiss="modal">Save</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal" role="dialog" *ngIf="remove_status">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Data</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Are You sure to delete ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" (click)="delete()" data-dismiss="modal">Yes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event" id="1" maxSize="5" autoHide="true" directionLinks="true">
        </pagination-controls>
    </div>
    <div class="modal fade" id="addDevice" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ADD</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="cus_id">Customer Id</label>
                        <div class="customer_id form-group">
                            <input type="text" id="cus_id" class="form-control" [(ngModel)]="add_customer.cus_id" name="customer_id" [disabled]="true">
                        </div>
                        <label for="cus_name">Customer Name</label>
                        <div class="customer form-group">
                            <input type="text" id="cus-name" class="form-control" [(ngModel)]="add_customer.cus_name" name="customer_name" required>
                        </div>

                        <label for="mobile_num">Mobile Number</label>
                        <div class="mobile form-group">
                            <input type="number" id="mob_num" (ngModelChange)="onChange($event)" [(ngModel)]="add_customer.cus_mobile" class="form-control"
                                name="mobile_number" required>
                        </div>
                        <!-- <div  class="alert alert-danger">
                            <strong>Invalid!</strong> Mobile number......
                        </div> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="Add(add_customer)" data-dismiss="modal">ADD</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>