<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





<form class="full_screen">

    <div class="container">
        <div class="login_form col-md-offset-4 col-md-4">
            <br>
            <div *ngIf="status" class="alert alert-danger">
                <strong>Invalid!</strong> Username or Password
            </div>
            <div *ngIf="empty" class="alert alert-info">
                <strong>Info !. </strong> Fields are empty...
            </div>
            <div *ngIf="multiple_login" class="alert alert-danger">
                <strong>Logged In!</strong> User Already Exists..........
            </div>
            <div class="image">
                <img src="assets/images/avatar.png" alt="USERNAME" height="100">
            </div>
            <br>
            <div class="content">
                <div class="input-group" style="margin-bottom:1.5em">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text" class="form-group form-control" autocomplete="off" required name="username" id="uname" placeholder="USER NAME" [(ngModel)]="login.username">
                </div>
                <div class="input-group" style="margin-bottom:1em">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password" class="form-group form-control" required name="password" id="pwd" placeholder="PASSWORD" [(ngModel)]="login.password">
                </div>
                <br>
                <div class="submit">
                    <div class="form-group">
                        <button (click)="OnSubmit(login)" type="submit" class="form-control btn">LOGIN &nbsp;
                            <span class="glyphicon glyphicon-log-in"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<!-- <form class="container" #loginform="ngForm" (ngSubmit)="onSubmit(loginform.value)" autocomplete="off">
    <div class="col-sm-4">
    </div>
    <div class="login">
        <div class="col2 col-sm-4 col-md-4">
            <div class="userimage">
                <img src="/assets/images/avatar.png" alt="UserImage" class="image">
            </div>
            <div class="input-group" style="margin-bottom:1.5em">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                <input type="text" class="form-group form-control" required name="username" id="uname" placeholder="USER NAME" [(ngModel)]="login.log_username">
            </div>
            <div class="input-group" style="margin-bottom:1em">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input type="password" class="form-group form-control" required name="password" id="pwd" placeholder="PASSWORD" [(ngModel)]="login.log_password">
            </div>
            <button type="submit" [disabled]="(!loginform.form.valid)" class="btn btn-lg btn-success" style="width:100%">SIGN IN</button>
            <div class="register">
                <p>Not a Member?
                    <a class="link" [routerLink]="['/Register']"> SignUp now!</a>
                </p>
            </div>
        </div>
    </div>
</form> -->