
.image
{
    text-align: center
}
.container
{
    margin-top:10em;
    
}

.login_form
{
    border: 2px outset #3C4148;
    background-color:rgb(59, 62, 68);
    
}
input{
    /* border-style: inset; */
    /* border-radius:10px; */
    border:none;
    background-color:rgb(88, 92, 97);
    color:rgb(180, 180, 180);
}
.full_screen
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-color:rgb(71, 72, 73);

}
button
{
    border-radius: 10px;
    background-color:rgb(219, 71, 133);
    border-color:#E34586;
    color: white;
}
.btn:active{
    background-color:rgb(219, 71, 133);
    border-color:#E34586;
    color: white;
}
.btn:visited{
    background-color:rgb(219, 71, 133);
    border-color:#E34586;
    color: white;
}
.btn:hover{
    background-color:rgb(219, 71, 133);
    border-color:#E34586;
    color: white;
}
.input-group-addon
{
    background-color: #4d4747 ;
    color: white;
    border: solid #4d4747 ;

}
.alert
{
    text-align:center;
}

/* 
input
{
    background-color: #696969;
    height: 40px;
    border-color:#423f3f;
    border-radius:0em;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
button:disabled,
button[disabled]
{
    background-color: rgb(177, 69, 150);
   border:none;
}
button[type=submit]:disabled:hover
{
    background-color:rgb(43, 41, 41);
} 
.btn
{
   
    border-color:#696969;
    height: 40px;
    text-align: center
}
.btn:active
{
    background-color:#494444
 }
.input-group-addon
{
    background-color: #3f3b3b;
    color: white;
    border: solid #423f3f ;

}
.image
{
    width:75px;
    height:75px;
 
    
}
.userimage
{
    text-align:center;
    margin-bottom: 20px;
    margin-top: 1em;
}
.col2
{       
        border-style: solid;
        border-color: #4e4a4a;
        background-color: rgb(90, 83, 83);
        margin-top: 15%;
      }
::placeholder
{
    color: rgb(184, 174, 174);
    font-family: Arial Unicode MS ;
    font-size: 15px;

} 
 .register
{
    font-family: Arial Unicode Ms;
    color: rgb(160, 153, 153);
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 2em;
}
.link
{
    font-style: bold;
    color: rgb(255, 255, 255);
    font-family: Arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a:active
{
   color :rgb(0, 0, 0);
}   */
