<navigation-bar></navigation-bar>
<div class="container">
    <div class="image" *ngIf="!visible" style="text-align:center;margin-top:10em;">
        <img src="assets/images/nodata.png" alt="NO DATA FOUND">
    </div>
    <div *ngIf="visible">
        <h1 style="text-align:center">Map Device&nbsp;&nbsp;
            <span>
                <input type="image" src="assets/images/mapdevice.png" data-toggle="modal" data-target="#myModal" (click)="device_ID()" alt="MAP"
                    height="60">
                <input type="search" class="form-control col-md-2" #search (keyup)="0" placeholder="Search" name="search">
            </span>
        </h1>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer ID</th>
                    <th>Device ID</th>
                    <th>Customer Name</th>
                    <th>Mobile</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let det of (details | searchFilter: search.value ) | paginate:{itemsPerPage: 5, currentPage:page, id: '1'};let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{det.cus_id}}</td>
                    <td>{{det.device_id}}</td>
                    <td>{{det.cus_name}}</td>
                    <td>{{det.cus_mobile}}</td>
                    <td>
                        <input type="image" src="assets/images/remove.png" data-toggle="modal" data-target="#removePopUp" (click)="OnClickremove(det)"
                            alt="remove" height="30">
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
        </pagination-controls>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Map device</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="device_id">
                                <b>Device Id:</b>
                            </label>
                            <select class="form-control" name="device_id" id="deviceID" required [(ngModel)]="dev">
                                <option *ngFor="let id of new_device_id" value="{{id.device_id}}">{{id.device_id}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="customer_id">
                                <b>Customer Id:</b>
                            </label>
                            <select class="form-control" name="customer_id" id="cusID" required [(ngModel)]="cus">

                                <option *ngFor="let id of new_customer_id" value="{{id.cus_id}}">{{id.cus_id}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="map_device(dev,cus)" data-dismiss="modal">Map</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removePopUp" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Map device</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are You sure to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="remove(det)" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>