<navigation-bar></navigation-bar>



<div class="container">
    <!-- <h2>ADD USER
        <input type="image" src="assets/images/add.png" (click)="add_user()" alt="ADD" height="50">
    </h2> -->
    <div class="image" *ngIf="!visible" style="text-align:center;margin-top:10em;">
        <img src="assets/images/nodata.png" alt="NO DATA FOUND">
        <br>
        <br>
        <p>No DATA FOUND</p>
    </div>
    <div *ngIf="visible">
        <h1 style="text-align:center">Add Device
            <span>
                <input type="image" src="assets/images/add device.png" data-toggle="modal" data-target="#myModal" alt="ADD" height="50">
            </span>
        </h1>
        <br>

        <table class="table table-hover" *ngIf="visible">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Device ID</th>
                    <th>Date</th>

                </tr>
            </thead>
            <tbody *ngFor="let det of details | paginate:{itemsPerPage: 5, currentPage:page, id: '1'};let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{det.device_id}}</td>
                    <td>{{det.created_at}}</td>
                    <!-- <td>
                        <input type="image" src="assets/images/remove.png" (click)="remove(i)" alt="remove" height="25">
                    </td> -->
                </tr>
            </tbody>
        </table>
        <pagination-controls class="pagination" (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
        </pagination-controls>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Device</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you Sure to add new device? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="add_user()" class="btn btn-success" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
</div>