th, td {
    padding: 10px;
    border: 1px solid;
    text-align: center;
    border-collapse: collapse
}
.container
{
    margin-top: 5em;
}
.pagination
{
    margin-top:4em;
    text-align: center;
}