<!-- <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head> -->

<!-- <div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h1 style="text-align:center;color:aliceblue">CRISP</h1>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a class="nav-link" [routerLink]="['/User']">ADD DEVICE</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/Login']">Friends</a>
                </li>
                <li>
                    <a href="#section3">Family</a>
                </li>
                <li>
                    <a href="#section3">Photos</a>
                </li>
            </ul>
        </div>
    </div>

</div> -->


<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top rounded">
    <a class="navbar-brand reference" href="http://crispcloudsolutions.com/ccs/" target="blank">CRISP CLOUD SOLUTION</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/User']">Add User
                    <sup style="font-size:16px;">+</sup>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Device']">Add Device
                    <sup style="font-size:16px;">+</sup>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Mapping']">Mapping
                    <sup>
                        <img src="assets/images/sync.png" height="20">
                    </sup>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" [routerLink]="['/Login']" data-target="#logout">LogOut
                    <sup>
                        <img src="assets/images/logout.png" height="15">
                    </sup>
                </a>
            </li>
        </ul>
    </div>
</nav>
<br>

<div class="modal fade" id="logout" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log Out</h4>
            </div>
            <div class="modal-body">
                Are You Sure to Logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="logOut()" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>